.App {

  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.the-logo {
  font-size: 3em;
   background: -webkit-linear-gradient(#9C27B0, #673AB7);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}